{% macro ModalPersonal() %}
<!-- Main modal -->
<div id="modal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-screen max-h-full bg-yellow-300 justify-center items-center">
    <div class="relative mx-auto my-4 w-full md:w-4/12 max-h-full bg-green-600">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
                class="w-1/12 absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 inline-flex items-center justify-center dark:hover:bg-gray-800 dark:hover:text-white btnCloseModal">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white text-center">Agregar registro</h3>
                <form class="flex flex-col justify-between" action="#">
                    <div class="mt-2">
                        <label for="input1" class="block text-green-500 font-bold mb-2" id="valor-columna-1"></label>
                        <input type="text" name="input1" id="input1"
                            class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green"
                            required>
                    </div>
                    <div class="mt-4">
                        <label for="input2" class="block text-green-500 font-bold mb-2" id="valor-columna-2">Input 2</label>
                        <select value="07:30 pm" name="input2" id="input2"
                            class="shadow border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue">
                            <option value="A">Opción 1</option>
                            <option value="B">Opción 2</option>
                            <option value="C">Opción 3</option>
                            <option value="D">Opción 4</option>
                        </select>
                    </div>
                    <div class="mt-4">
                        <label for="input3" class="block text-green-500 font-bold mb-2" id="valor-columna-3">Input 3</label>
                        <select value="07:30 pm" name="input3" id="input3"
                            class="shadow border border-gray-300 rounded w-full py-2 px-0 sm:px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue">
                            <option value="A">Opción 1</option>
                            <option value="B">Opción 2</option>
                            <option value="C">Opción 3</option>
                            <option value="D">Opción 4</option>
                        </select>
                    </div>
                    <div class="mt-4">
                        <label for="input4" class="block text-green-500 font-bold mb-2">Input 4</label>
                        <input type="text" name="input4" id="input4"
                            class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green"
                            required>
                    </div>
                    <div class="mt-4">
                        <label for="input5" class="block text-green-500 font-bold mb-2">Input 5</label>
                        <input type="text" name="input5" id="input5"
                            class="shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-green"
                            required>
                    </div>
                    <button type="submit"
                        class="w-full bg-blue-500 text-white mx-auto hover:bg-blue-700 mt-8 px-4 py-2 rounded">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endmacro %}