<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
		<script src="{{url_for('static',filename='js/all.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
		<title>Admin - Personal</title>
	</head>
	<body>
	{% import "macros/Navbar.html" as macroNavbar %}
	{% import "macros/Botones.html" as macroBotones %}
	{% import "macros/Modales.html" as macroModales %}
	{{ macroNavbar.Navbar() }}
	<h1 class="text-lg text-center font-bold my-4">Personal</h1>
	{% import "macros/Tablas.html" as macroTablas %}
	{{ macroTablas.TablaPersonal() }}
	{{ macroBotones.BotonAgregar() }}
	{{ macroModales.ModalPersonal() }}
	</body>
</html>
<script>
	let rowValues = [];

	$('tr').on('click', 'button.btnEditar', function () {
		var fila = $(this).closest('tr');
		var valorColumna1 = fila.find('td:nth-child(1)').text();
		var valorColumna2 = fila.find('td:nth-child(2)').text();
		var valorColumna3 = fila.find('td:nth-child(3)').text();

		// var headers = [];
		// $(this).closest('table').find('th').each(function() {
		// 	headers.push($(this).text());
		// });
		// console.log(headers);


		// Pasar valores al modal
		$('#valor-columna-1').text(headers[0]);
		$('#valor-columna-2').text(headers[1]);
		$('#valor-columna-3').text(headers[2]);
		$('#modal').show();
	});

	$('#modal').on('click', '.btnCloseModal', function() {
		$('#modal').hide();
	});

</script>

